[Unit]
Description=inlets PRO server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2
StartLimitInterval=0
EnvironmentFile=/etc/default/inlets-pro
ExecStart=/usr/local/bin/inlets-pro tcp server --auto-tls --tls-san="${IP}" --token="${AUTHTOKEN}"

[Install]
WantedBy=multi-user.target
